@using NEWS.Core.Dtos.News
@{
    ViewData["Title"] = "News Create";
}
@model NewsCreateEditDto
<div class="section-top-border">
    <div class="row">
        <div class="col-lg-8 col-md-8 my-box">
            <h3 class="mb-20">News Creation</h3>
            <form method="post" enctype="multipart/form-data">
                <div class="mt-1">
                    <input asp-for="Title" type="text" placeholder="Enter title.."
                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'"
                           class="single-input" value="@(Model?.Title ?? "")">
                </div>
                <div class="mt-10">
                    <textarea asp-for="Text" class="single-textarea" placeholder="Enter text.." onfocus="this.placeholder = ''"
                              onblur="this.placeholder = 'Message'" required>@(Model?.Text ?? "")</textarea>
                </div>
                <div class="single-element-widget mt-30">
                    <div class="default-select" id="default-select">
                        <select asp-for="CategoryId">
                            <option value="">Select category...</option>
                            @foreach (var cat in ViewBag.Categories)
                            {
                                @if (Model?.CategoryId == cat.Id)
                                {
                                    <option value="@(cat.Id)" selected>@cat.Name</option>
                                }
                                else
                                {
                                    <option value="@(cat.Id)">@cat.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="">
                    <span class="img-video-label mr-3">Upload Image: </span>
                    <input asp-for="Image" class="single-input img-video-input" accept="image/*">
                </div>
                <div class="mt-2">
                    <span class="img-video-label mr-3">Upload Video: </span>
                    <input asp-for="Video" class="single-input img-video-input" accept="video/*">
                </div>
                <button type="submit" class="genric-btn info radius mt-20">Add Category</button>
            </form>
        </div>
    </div>
</div>
